name: CI/CD Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 3.109.130.238
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /var/www/devops1
            git fetch origin
            git reset --hard origin/main
            sudo nginx -t
            sudo systemctl reload nginx
            echo "Deployment to EC2 completed successfully."  